
@import "tailwindcss";

/* § Safelist specific classes (så de genereres inden build time og derfor kan apply'es dynamisk, fx gennem props (som hedder attribute bindings i vue (???)). Tailwind generer nemlig (smart nok) kun de classes, der er i brug */
@source inline("bg-rose-300/40 bg-pink-300/40 bg-fuchsia-300/40 bg-purple-300/40");

/* § https://nuxt.com/docs/getting-started/styling#working-with-fonts */
@font-face {
  font-family: 'Unifont';
  src: url('/fonts/unifont-16.0.03.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Unifont', sans-serif;
  @apply bg-emerald-900 text-amber-100; 
}


/* § h2 : kopieret fra `fresh-create_fra-8` (net ninja nuxt3 tut) – mon det virker her? */

@layer components {
  .btn {
    @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white;
  }
  .card {
    @apply p-3 rounded-md bg-white shadow-md h-full;
  }
}