
@import "tailwindcss";

/* § Safelist specific classes (så de genereres inden build time og derfor kan apply'es dynamisk, fx gennem props (/ attribute bindings (vue) (??)). Tailwind generer nemlig (smart nok) kun de classes, der er i brug.

  Dette kan evt gøres smartere med 'brace-expansion' (kommer fra bash) til 'variants' og 'ranges':
  https://tailwindcss.com/docs/detecting-classes-in-source-files#safelisting-specific-utilities

  Forklaring på ovenstående, som evt er nødv for forståelse :
  https://youtu.be/HTFHoA12MJk?si=__4ivW2bYIMI0yf5&t=599
*/
@source inline("bg-rose-300/40 bg-pink-300/40 bg-fuchsia-300/40 bg-purple-300/40");

/* § https://nuxt.com/docs/getting-started/styling#working-with-fonts */
@font-face {
  font-family: 'Unifont';
  src: url('/fonts/unifont-16.0.03.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Unifont', sans-serif;
  @apply bg-emerald-900 text-amber-100; 
}


/* § h2 : kopieret fra `fresh-create_fra-8` (net ninja nuxt3 tut) – mon det virker her? (ja) */

@layer components {
  .btn {
    @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white;
  }
  .card {
    @apply p-3 rounded-md bg-white shadow-md h-full;
  }
}