
@import "tailwindcss";

/* § Safelist specific classes (så de genereres inden build time og derfor kan apply'es dynamisk, fx gennem props (som hedder attribute bindings i vue (???)). Tailwind generer nemlig (smart nok) kun de classes, der er i brug */
@source inline("bg-rose-300/40 bg-pink-300/40 bg-fuchsia-300/40 bg-purple-300/40");

/* § https://nuxt.com/docs/getting-started/styling#working-with-fonts */
@font-face {
  font-family: 'Unifont';
  src: url('/fonts/unifont-16.0.03.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Unifont', sans-serif;
  @apply bg-emerald-900;
}