@import "tailwindcss";

/* ยง https://nuxt.com/docs/getting-started/styling#working-with-fonts */
@font-face {
  font-family: 'Unifont';
  src: url('/fonts/unifont-16.0.03.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Unifont', sans-serif;
}